{% extends 'base.html.twig' %}
{% block title %}Hello WelcomeController!{% endblock %}

{% block footer %}
    <!-- Footer -->

    <footer class="sticky-footer bg-white">
<!-- Footer -->
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
        </div>
    </div>
<!-- End of Footer -->
</footer>

{% endblock %}
